@font-face {
  font-family: "iconfont"; /* Project id 3323732 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1649771635750') format('woff2'),
       url('iconfont.woff?t=1649771635750') format('woff'),
       url('iconfont.ttf?t=1649771635750') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-editFile:before {
  content: "\e6fd";
}

.icon-Settings:before {
  content: "\e642";
}

